*{
  margin: 0;
  padding: 0;
}

.App{
  display:flex;
  justify-content: center;
}

.calculator{
  background-color: aqua;
  width:400px;
  max-width: 450px;
}
.calculator:hover{
  box-shadow: 5px 5px 5px 5px green;
}

.title{
  text-align:center;
}

input{
  text-align: right;
  height:70px;
  width:390px;
  font-size: 30px;
  letter-spacing: 3px;
}

.mainDiv{
  display: grid;
  grid-template-columns: auto auto auto auto ;
  gap: 2px;
  place-items: center;
  justify-content: center;
  align-items: center;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.mainDiv div{
  height: 100px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px;
  background-color:azure;
}
.mainDiv div:hover{
  background-color: red;
}
